<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title has-text-primary">Produtos</h1>
        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Detalhes</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="produto : ${produtos}">
                    <td th:text="${produto.id}">1</td>
                    <td th:text="${produto.nome}">Nome</td>
                    <td th:text="${produto.descricao}">Descrição</td>
                    <td>R$ <span th:text="${produto.preco}">0.00</span></td>
                    <td>
                        <a class="button is-link is-light is-small" th:href="@{|/produto/${produto.id}|}">
                            Ver detalhes
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>